<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章标题</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/picocss/1.5.6/pico.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/article.css">
</head>
<body class="hide-scroll">
<!--头部导航栏-->
<header id="header" class="hide-scroll">
    <div id="logo">
        <a href="/">梦幻墟都</a>
    </div>
    <div id="menu">
        <div class="menu-item">
            <a href="/">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-bolanggu"></use>
                </svg>
                首页</a>
        </div>
        <div class="menu-item">
            <a href="/tag">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jimu"></use>
                </svg>
                标签</a>
        </div>
        <div class="menu-item">
            <a href="/category">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-suliaojimu"></use>
                </svg>
                分类</a>
        </div>
        <div class="menu-item">
            <a href="/time_axis">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jinzita"></use>
                </svg>
                时间轴</a>
        </div>
    </div>
</header>
<!--op-->
<div id="open">
    <img class="cover" alt="cover" src="/static/images/openBg.png"/>
    <div class="basic">
        <h3 class="title">文章标题文章标题文章标题文章标题文章标题文章标题文章标题</h3>
        <div class="times">

            <div class="published-time" data-tooltip="创建时间">2022年10月25日 23:27:49</div>
            <div class="modify-time" data-tooltip="修改时间">2022年10月26日 10:24:22</div>

        </div>
        <div class="type">
            <div class="classify" data-tooltip="文章分类">程序人生</div>
            <div class="tags" data-tooltip="文章标签">
                <div class="tag">Java</div>
                <div class="tag">Html</div>
                <div class="tag">Css</div>
                <div class="tag">PicoCss</div>
            </div>
        </div>
    </div>
</div>
<main id="container">

</main>
</body>
<script src="/static/iconfont/iconfont.js"></script>
</html>