/*隐藏滚动条*/
.hide-scroll {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

/*隐藏滚动条*/
.hide-scroll::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

/*iconfont引用*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
