#open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: transparent url("/static/images/openBg.png") center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    box-shadow: 10px 0 8px HSLA(0, 0%, 0%, 0.4);
}

#title {
    color: #8f3d2c;
    text-shadow: 1px 1px 4px HSLA(250, 53%, 36%, 0.4);
}

#intro {
    color: #bdcbd2;
    text-shadow: 1px 1px 2px HSLA(0, 0%, 0%, 0.6);
}

#container {
    height: fit-content;
    min-height: 100%;
    padding: 40px 10%;
}


/*首页*/
#article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
}

#article-container > .article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 380px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px HSLA(0, 0%, 0%, 0.2);
    transition: all .3s;
}

#article-container > .article:nth-last-child(2n) {
    flex-direction: row-reverse;
}

#article-container > .article:nth-last-child(n+2) {
    margin-bottom: 40px;
}

#article-container > .article:hover {
    box-shadow: 0 2px 20px HSLA(0, 0%, 0%, 0.3);
}

#article-container > .article > .cover-wrapper {
    width: 56%;
    height: 100%;
    background: palevioletred;
    overflow: hidden;
}

#article-container > .article > .cover-wrapper .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .6s;
}

#article-container > .article:hover > .cover-wrapper .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1)
}

#article-container > .article > .intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 44%;
    height: 100%;
    padding: 0 40px;
    background: var(--background-color);
}

#article-container > .article > .intro-wrapper > .title {
    margin-bottom: 10px;
}

#article-container > .article > .intro-wrapper > .infos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    margin-bottom: 10px;
}

#article-container > .article > .intro-wrapper > .infos > .space {
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    margin: 0 6px;
    transform: translateY(-2px);
}

#article-container > .article > .intro-wrapper > .infos .info {
    display: inline-block;
    font-size: 12px;
}

#article-container > .article > .intro-wrapper > .infos .info > .icon {
    font-size: 16px;
}

#article-container > .article > .intro-wrapper > .infos .info:nth-last-child(n+2) {
    margin-right: 6px;
}

#article-container > .article > .intro-wrapper > .brief {
    font-size: 16px;
}


/*标签墙*/
#years-container,
#months-container,
#classify-container,
#tag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: fit-content;
    padding: 40px;
    margin: 0 auto;
    background: var(--background-color);

    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 10px HSLA(0, 0%, 0%, 0.2);
}

#tag-container .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: fit-content;
    margin-top: 10px;
}

#tag-container .tags .tag {
    width: fit-content;
    height: fit-content;
    padding: 14px;
    font-size: 16px;
}


/*分类*/
#classify-container .classifies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: fit-content;
    margin-top: 10px;
}

#classify-container .classifies .classify {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: fit-content;
    padding: 6px 14px;
    font-size: 16px;
}


/*时间轴*/
#time-axis-container .years,
#time-axis-container .months {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: fit-content;
    margin-top: 10px;
}

#time-axis-container .years .year,
#time-axis-container .months .month {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: fit-content;
    padding: 6px 14px;
    font-size: 16px;
}


#months-container {
    margin-top: 40px;
    width: 54%;
}