<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>梦幻墟都 - 首页</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/picocss/1.5.6/pico.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="hide-scroll">
<!--头部导航栏-->
<header id="header" class="hide-scroll">
    <div id="logo">
        <a href="/">梦幻墟都</a>
    </div>
    <div id="menu">
        <div class="menu-item">
            <a href="/">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-bolanggu"></use>
                </svg>
                首页</a>
        </div>
        <div class="menu-item">
            <a href="/tag">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jimu"></use>
                </svg>
                标签</a>
        </div>
        <div class="menu-item">
            <a href="/category">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-suliaojimu"></use>
                </svg>
                分类</a>
        </div>
        <div class="menu-item">
            <a href="/time_axis">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jinzita"></use>
                </svg>
                时间轴</a>
        </div>
    </div>
</header>
<!--初始-->
<div id="open">
    <h1 id="title">梦幻墟都</h1>
    <small id="intro">这里是梦幻墟都的幻想小站</small>
</div>
<!--内容-->
<main id="container" class="hide-scroll">
    <!--文章容器-->
    <div id="article-container">

        <div class="article">
            <div class="cover-wrapper">
                <img class="cover" src="/static/images/openBg.png" alt="cover">
            </div>
            <div class="intro-wrapper">
                <h5 class="title">文章标题</h5>
                <div class="infos">
                    <span class="info published-time">
                        <svg class="icon" aria-hidden="true" style="transform: translateY(1px);">
                          <use xlink:href="#icon-yingerchuang"></use>
                        </svg>
                        2022年10月25日 23:27:49
                    </span>
                    <span class="space">|</span>
                    <span class="info view-count">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-konglong"></use>
                        </svg>
                        100 浏览
                    </span>
                    <span class="space">|</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>
                        Java
                    </span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>PicoCss</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>SpringBoot</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>Velocity</span>
                </div>
                <div class="brief">什么文章简略</div>
            </div>
        </div>
        <div class="article">
            <div class="cover-wrapper">
                <img class="cover" src="/static/images/openBg.png" alt="cover">
            </div>
            <div class="intro-wrapper">
                <h5 class="title">文章标题</h5>
                <div class="infos">
                    <span class="info published-time">
                        <svg class="icon" aria-hidden="true" style="transform: translateY(1px);">
                          <use xlink:href="#icon-yingerchuang"></use>
                        </svg>
                        2022年10月25日 23:27:49
                    </span>
                    <span class="space">|</span>
                    <span class="info view-count">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-konglong"></use>
                        </svg>
                        100 浏览
                    </span>
                    <span class="space">|</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>
                        Java
                    </span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>PicoCss</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>SpringBoot</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>Velocity</span>
                </div>
                <div class="brief">什么文章简略</div>
            </div>
        </div>
        <div class="article">
            <div class="cover-wrapper">
                <img class="cover" src="/static/images/openBg.png" alt="cover">
            </div>
            <div class="intro-wrapper">
                <h5 class="title">文章标题</h5>
                <div class="infos">
                    <span class="info published-time">
                        <svg class="icon" aria-hidden="true" style="transform: translateY(1px);">
                          <use xlink:href="#icon-yingerchuang"></use>
                        </svg>
                        2022年10月25日 23:27:49
                    </span>
                    <span class="space">|</span>
                    <span class="info view-count">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-konglong"></use>
                        </svg>
                        100 浏览
                    </span>
                    <span class="space">|</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>
                        Java
                    </span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>PicoCss</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>SpringBoot</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>Velocity</span>
                </div>
                <div class="brief">什么文章简略</div>
            </div>
        </div>
        <div class="article">
            <div class="cover-wrapper">
                <img class="cover" src="/static/images/openBg.png" alt="cover">
            </div>
            <div class="intro-wrapper">
                <h5 class="title">文章标题</h5>
                <div class="infos">
                    <span class="info published-time">
                        <svg class="icon" aria-hidden="true" style="transform: translateY(1px);">
                          <use xlink:href="#icon-yingerchuang"></use>
                        </svg>
                        2022年10月25日 23:27:49
                    </span>
                    <span class="space">|</span>
                    <span class="info view-count">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-konglong"></use>
                        </svg>
                        100 浏览
                    </span>
                    <span class="space">|</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>
                        Java
                    </span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>PicoCss</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>SpringBoot</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>Velocity</span>
                </div>
                <div class="brief">什么文章简略</div>
            </div>
        </div>
        <div class="article">
            <div class="cover-wrapper">
                <img class="cover" src="/static/images/openBg.png" alt="cover">
            </div>
            <div class="intro-wrapper">
                <h5 class="title">文章标题</h5>
                <div class="infos">
                    <span class="info published-time">
                        <svg class="icon" aria-hidden="true" style="transform: translateY(1px);">
                          <use xlink:href="#icon-yingerchuang"></use>
                        </svg>
                        2022年10月25日 23:27:49
                    </span>
                    <span class="space">|</span>
                    <span class="info view-count">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-konglong"></use>
                        </svg>
                        100 浏览
                    </span>
                    <span class="space">|</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>
                        Java
                    </span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>PicoCss</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>SpringBoot</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>Velocity</span>
                </div>
                <div class="brief">什么文章简略</div>
            </div>
        </div>
        <div class="article">
            <div class="cover-wrapper">
                <img class="cover" src="/static/images/openBg.png" alt="cover">
            </div>
            <div class="intro-wrapper">
                <h5 class="title">文章标题</h5>
                <div class="infos">
                    <span class="info published-time">
                        <svg class="icon" aria-hidden="true" style="transform: translateY(1px);">
                          <use xlink:href="#icon-yingerchuang"></use>
                        </svg>
                        2022年10月25日 23:27:49
                    </span>
                    <span class="space">|</span>
                    <span class="info view-count">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-konglong"></use>
                        </svg>
                        100 浏览
                    </span>
                    <span class="space">|</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>
                        Java
                    </span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>PicoCss</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>SpringBoot</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>Velocity</span>
                </div>
                <div class="brief">什么文章简略</div>
            </div>
        </div>

    </div>
</main>
</body>

<script src="/static/iconfont/iconfont.js"></script>
</html>