<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>梦幻墟都 - 首页</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/picocss/1.5.6/pico.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="hide-scroll">
<header id="header" class="hide-scroll">
    <div id="logo">
        <a href="/">梦幻墟都</a>
    </div>
    <div id="menu">
        <div class="menu-item">
            <a href="/">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-bolanggu"></use>
                </svg>
                首页</a>
        </div>
        <div class="menu-item">
            <a href="/tag">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jimu"></use>
                </svg>
                标签</a>
        </div>
        <div class="menu-item">
            <a href="/category">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-suliaojimu"></use>
                </svg>
                分类</a>
        </div>
        <div class="menu-item">
            <a href="/time_axis">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jinzita"></use>
                </svg>
                时间轴</a>
        </div>
    </div>
</header>
<div id="open">
    <h1 id="title">梦幻墟都</h1>
    <small id="intro">这里是梦幻墟都的幻想小站</small>
</div>
<main class="container">
    <h1>这是梦幻墟都的博客首页</h1>
    <p>${name} - <small>${nowTime}</small></p>
</main>
</body>

<script src="/static/iconfont/iconfont.js"></script>
</html>