<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>梦幻墟都 - 首页</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/picocss/1.5.6/pico.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="hide-scroll">
<!--头部导航栏-->
<header id="header" class="hide-scroll">
    <div id="logo">
        <a href="/">梦幻墟都</a>
    </div>
    <div id="menu">
        <div class="menu-item">
            <a href="/">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-bolanggu"></use>
                </svg>
                首页</a>
        </div>
        <div class="menu-item">
            <a href="/tag">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jimu"></use>
                </svg>
                标签</a>
        </div>
        <div class="menu-item">
            <a href="/category">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-suliaojimu"></use>
                </svg>
                分类</a>
        </div>
        <div class="menu-item">
            <a href="/time_axis">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jinzita"></use>
                </svg>
                时间轴</a>
        </div>
        <div class="menu-item">
            <a href="/admin">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-shouyaoling"></use>
                </svg>
                管理
            </a>
        </div>
    </div>
</header>
<!--初始-->
<div id="open">
    <h1 id="title">梦幻墟都</h1>
    <small id="intro">这里是梦幻墟都的幻想小站</small>
</div>
<!--内容-->
<main id="container" class="hide-scroll">
    <!--文章容器-->
    <div style="display: none" id="article-container">

        <div class="article">
            <div class="cover-wrapper">
                <a href="/article/a1.html">
                    <img class="cover" src="/static/images/openBg.png" alt="cover">
                </a>
            </div>
            <div class="intro-wrapper">
                <h5 class="title">
                    <a style="color: var(--h5-color);" href="/article/a1.html">
                        文章标题
                    </a>
                </h5>
                <div class="infos">
                    <span class="info published-time">
                        <svg class="icon" aria-hidden="true" style="transform: translateY(1px);">
                          <use xlink:href="#icon-yingerchuang"></use>
                        </svg>
                        2022年10月25日 23:27:49
                    </span>
                    <span class="space">|</span>
                    <span class="info view-count">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-konglong"></use>
                        </svg>
                        100 浏览
                    </span>
                    <span class="space">|</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>
                        Java
                    </span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>PicoCss</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>SpringBoot</span>
                    <span class="info tag">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-shatanqiu"></use>
                        </svg>Velocity</span>
                </div>
                <div class="brief">什么文章简略</div>
            </div>
        </div>

    </div>
    <!--标签墙-->
    <div style="display: none" id="tag-container">
        <h5>标签墙</h5>
        <small>10标签</small>
        <div class="tags">
            <div class="tag">
                <a href="/tag/Java">Java</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">GraalVM</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">JUC</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">Linux</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">C</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">GraalVM</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">JUC</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">Linux</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">C</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">GraalVM</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">JUC</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">Linux</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">C</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">GraalVM</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">JUC</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">Linux</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">C</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">GraalVM</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">JUC</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">Linux</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">C</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">GraalVM</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">JUC</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">Linux</a>
            </div>
            <div class="tag">
                <a href="/tag/Java">C</a>
            </div>

        </div>
    </div>
    <!--分类-->
    <div style="display: none" id="classify-container">
        <h5>分类</h5>
        <small>4分类</small>
        <div class="classifies">
            <div class="classify">
                <a href="/tag/programming">程序人生</a>
            </div>
            <div class="classify">
                <a href="/tag/reality">现世生存</a>
            </div>
            <div class="classify">
                <a href="/tag/dreaming">梦幻墟都</a>
            </div>
            <div class="classify">
                <a href="/tag/programming">程序人生</a>
            </div>
            <div class="classify">
                <a href="/tag/reality">现世生存</a>
            </div>
            <div class="classify">
                <a href="/tag/dreaming">梦幻墟都</a>
            </div>
            <div class="classify">
                <a href="/tag/programming">程序人生</a>
            </div>
            <div class="classify">
                <a href="/tag/reality">现世生存</a>
            </div>
            <div class="classify">
                <a href="/tag/programming">程序人生</a>
            </div>
            <div class="classify">
                <a href="/tag/reality">现世生存</a>
            </div>

        </div>
    </div>
    <!--时间轴-->
    <div id="time-axis-container">
        <div id="years-container">
            <h5>时间轴 - 年</h5>
            <small>2年 | 18月 | 138篇</small>
            <div class="years">
                <div class="year"><a href="javascript:void(0)">2020</a></div>
                <div class="year"><a href="javascript:void(0)">2021</a></div>
                <div class="year"><a href="javascript:void(0)">2022</a></div>
            </div>
        </div>
        <div id="months-container">
            <h6>时间轴 - 月</h6>
            <small>6月 | 28篇</small>
            <div class="months">
                <div class="month"><a href="javascript:void(0)">一月</a></div>
                <div class="month"><a href="javascript:void(0)">二月</a></div>
                <div class="month"><a href="javascript:void(0)">三月</a></div>
                <div class="month"><a href="javascript:void(0)">六月</a></div>
                <div class="month"><a href="javascript:void(0)">八月</a></div>
                <div class="month"><a href="javascript:void(0)">十二月</a></div>
            </div>
        </div>
    </div>
</main>
</body>

<script src="/static/iconfont/iconfont.js"></script>
</html>